h1 {
    font-family: sans-serif;
}


h2 {
    color:green ;
    font-size: 2em;
}

body {
    background-color: rgb(255, 400, 200);
    font-size: 16px;
}

.Title h1{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#past-historia {
    background-color: red; color: aliceblue;
}

#desc {
    color: orange;
}

.list-style {
    background-color: brown;
    color: aliceblue;
    font-weight: bold; 
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: monospace;
    font-weight: 600;
    
}

.description h2{
    background-color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}