* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.header {
    background-color: black;
    color: white;
    width: 65%;
    margin: auto;
    
}

.header-countainer {
    background-color: black;
}
.header-countainer ul {
    background-color: black;
    
}

.header nav {
    display: inline;
}

.header img {
    width: 150px;
    vertical-align: middle;
    padding: 10px 0;
}

.header ul {
    display: inline-block;
    padding-left: 40%;
    
    
}

.header li:hover {
    color: green;
    cursor: pointer;

}

.header li {
    display: inline-block;
    
    padding-right: 12px;
    font-size: 15px;
    text-align: right;
    
}

.premium {
    background-color:rgb(29, 117, 222);
    padding: 100px 100px;
    color: white;
    max-height: 175px;

}

.premium a:hover {
    font-size: 16px;
}

.premium-content {
    
    width: 70%;
    margin: auto;
}

.premium-content h1, h2{
    padding-bottom: 20px;
    
}

.premium-content h1 {
    font-size: 35px;
}

.premium-content p {
    padding-top: 20px;
    font-size: 14px;
}

.premium-bottons {
    
    display: inline-block;
}

.comece-agora {
    
    background-color: black; color: aliceblue; width: 200px;
    padding: 10px 10px;
    border-radius: 100px;
    text-align: center;
    border: 2px solid black;
    opacity: 0.9;
    
} 
.comece-agora:hover {
    border: 3px solid black;
    opacity: 1;
    font-size: 18px;
    cursor: pointer;
    


}

.ver-planos {

    background-color: rgb(29, 117, 222); color: black;
    border: 2px solid white;
    padding: 10px 60px;
    border-radius: 100px;
    text-align: center;
    
    
}

.ver-planos:hover {
    border: 3px solid white;
    font-size: 18px;
    cursor: pointer;
}

.why-premium {
    background-color: white;
    text-align: center;
}

.why-premium h2 {
    margin-top: 50px;
}

.why-premium article {
    display: inline-block;
    margin: 20px;
    padding-bottom: 50px;

}

.why-premium img {
    width: 200px;
}

.plans {
    background-color: black; 
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

.plans h2 {
    font-size: 30px;
    padding-top: 31px;
}

.div-style {
    
    /* border: 5px solid rgb(153, 50, 67); */
    background: radial-gradient(circle at 100% 100%,#000 0,#000 7.4px,transparent 0) 0 0/12.4px 12.4px no-repeat,radial-gradient(circle at 0 100%,#000 0,#000 7.4px,transparent 0) 100% 0/12.4px 12.4px no-repeat,radial-gradient(circle at 100% 0,#000 0,#000 7.4px,transparent 0) 0 100%/12.4px 12.4px no-repeat,radial-gradient(circle at 0 0,#000 0,#000 7.4px,transparent 0) 100% 100%/12.4px 12.4px no-repeat,linear-gradient(#000,#000) 50% 50%/calc(100% - 10px) calc(100% - 24.8px) no-repeat,linear-gradient(#000,#000) 50% 50%/calc(100% - 24.8px) calc(100% - 10px) no-repeat,linear-gradient(54deg,#b00d6e,#ac0e6f 50%,#084791 98%);
    width: 1200px;
    margin: 30px auto;
    border-radius: 12.4px;
    padding: 30px;
    
}

.div-style li {
    list-style: none;
    

}

.div-style h3 {
    
    padding: 20px;
}

.div-style h4 {
    font-size: 22px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
}




